.card {
    background-image:url("../image/header.jpg");
    background-position: top;
    background-repeat:no-repeat;
    background-size: cover;
    height: 800px;
    width:100%;
 
    
    }
    .logo {
     width:400px;
   height:100px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   top:-15px;
   
   }
   .head {
 
   text-align: center;
   font-size: 65px;
   font-style: italic;
   color: #f9e090;
   
   }
   /*.head1{
     text-align: center;
     display: block;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   top:400px;
      font-size: 60px; 
      color: #f9e090;
      
   }*/
   h1{
    text-align:center;
    margin-top: 90px; 
    font-size: 50px;
   }
  span{
    color:rgb(109, 19, 19); 
  }
  .pic1{
      width:500px;
      margin-top: 50px;
      margin-bottom: 70px;
  } 
  .pic2{
      width:500px;
      height:250px;
      margin-bottom: 20px;
  }
  .text1{
      color:rgb(109, 19, 19);
      font-size: 40px;
  }
  .text2{
    word-spacing: 10px;
    letter-spacing: 1px;
  }

  .bg{
background-color: rgb(161, 29, 29);
padding: 20px 20px 100px 20px;
position: relative;
width: 500px;
height: 200px;
overflow: hidden;
top:20px;
right:-60px; 
font-style: italic;
color: #f9e090;
margin-bottom: 20px
  }